body {
  background-color: #a7f4e8;
  background: rgb(167, 244, 232, 0.3);
}

.header {
  width: 400px;
  padding: 5px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  text-align: center;
  color: #f4a7b3;
  font-weight:bold;
}

.vll {
    position: absolute;
    background-color: #f4a7b3;
    background: rgb(244, 167, 179, 0.7);
    width: 6px;
    top: 1px;
    bottom: 0px;
    left: 4%;
    height: 120px;
  }

.contact {
  /* background-color: #a7f4e8; */
  width: 400px;
  /* border: 5px solid black; */
  padding: 51px;
  margin: 16px;
  font-family: "Courier New", Courier, monospace;
  /* margin-left: 300px; */
  margin-top: -50px;
  font-size: large;
}

.vl {
  position: absolute;
  background-color: #f4a7b3;
  background: rgb(244, 167, 179, 0.7);
  width: 6px;
  top: 118px;
  bottom: 0px;
  left: 50%;
  height: 1050px;
}

.hl {
  position: absolute;
  height: 6px;
  border: 0;
  /* border-top: 6px solid #f4a7b3; */
  padding: 0;
  width: 699px;
  margin-top: -50px;
  margin-left: 53px;
  background-color: #f4a7b3;
  background: rgb(244, 167, 179, 0.7);
}

.bold{
  font-weight: bold;
}

.summary {
  /* background-color: #a7f4e8; */
  /* background: rgb(167, 244, 232, 0.4); */
  /* background: rgba(244, 167, 179, 1); */
  width: 500px;
  /* border: 3px solid black; */
  padding: 50px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 200px;
  margin-top: -50px;
  font-size: large;
}

.summary h2 {
  margin-left: 300px;
}

.hll {
  position: absolute;
  height: 6px;
  border: 0;
  /* border-top: 6px solid #f4a7b3; */
  padding: 0;
  width: 699px;
  margin-top: -50px;
  margin-left: 53px;
  background-color: #f4a7b3;
  background: rgb(244, 167, 179, 0.7);
}

.hl2 {
  position: absolute;
  height: 6px;
  border: 0;
  /* border-top: 6px solid #f4a7b3; */
  padding: 0;
  width: 699px;
  margin-top: -50px;
  margin-left: 753px;
  background-color: #f4a7b3;
  background: rgb(244, 167, 179, 0.7);
}

.hl3 {
  position: absolute;
  height: 6px;
  border: 0;
  /* border-top: 6px solid #f4a7b3; */
  padding: 0;
  width: 699px;
  margin-top: -350px;
  margin-left: 53px;
  background-color: #f4a7b3;
  background: rgb(244, 167, 179, 0.7);
}

.skills {
  /* background-color: #a7f4e8; */
  width: 500px;
  /* border: 5px solid black; */
  padding: 50px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 200px;
  font-size: large;
  margin-top: 60px;
}

.skills h2 {
  margin-left: 300px;
  text-align: left;
}

.education {
  /* background-color: #a7f4e8; */
  font-family: "Courier New", Courier, monospace;
  width: 500px;
  /* border: 5px solid black; */
  padding: 50px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 760px;
  margin-top: -550px;
  font-size: large;
}

.career {
  /* background-color: #a7f4e8; */
  font-family: "Courier New", Courier, monospace;
  width: 500px;
  /* border: 5px solid black; */
  padding: 50px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 780px;
  margin-top: -450px;
  font-size: large;
}

.projects {
  /* background-color: #a7f4e8; */
  font-family: "Courier New", Courier, monospace;
  width: 500px;
  /* border: 5px solid black; */
  padding: 50px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin-left: 200px;
  margin-right: auto;
  font-size: large;
  margin-top: -400px;
}

.projects h2 {
  margin-left: 300px;
}

.icons{
  bottom: 0%;
}
