body{
    background-color: #a7f4e8;
}

.header{
    background-color: #a7f4e8;
}

.contact{
    background-color: #a7f4e8;
}

.summary{
    background-color: #a7f4e8;
}

.skills{
    background-color: #a7f4e8;
}

.education{
    background-color: #a7f4e8;
}

.career{
    background-color: #a7f4e8;
}

.projects{
    background-color: #a7f4e8;
}

.languages{
    background-color: #a7f4e8;
}

.references{
    background-color: #a7f4e8;
}